.profileFeed .title {
  color: black;
  margin: 20px 20px;
}

.feedContent .card {
  margin-top: 20px;
  margin-bottom: 20px;
}
.feedContent .card-img-top {
  height: 100px;
  margin: 0 auto;
  object-fit: contain;
}
.feedContent .list-group-item {
  border: 0.2px solid rgba(0, 0, 0, 0.36);
  max-height: 200px;
  overflow: hidden;
}
.accepted,
.rejected,
.pending {
  font-size: 0.9em;
  padding: 1px 10px !important;
}
.accepted,
.rejected {
  cursor: pointer;
}
.accepted {
  color: white !important;
  background-color: #0daf0d !important;
}
.acceptedbtn {
  color: white !important;
  background: #09b109 !important;
}
.acceptedbtn:hover {
  color: white !important;
  background: #15dc15 !important;
}
.rejected {
  color: white !important;
  background-color: #cc0101 !important;
}
.rejectedbtn {
  color: white !important;
  background: #d20202 !important;
}
.rejectedbtn:hover {
  color: white !important;
  background: #ec4141 !important;
}
.pending {
  color: #868686 !important;
  background-color: #dadada !important;
}

.applied {
  background: #fafafa !important;
  color: #4a4a4a;
  font-weight: bold;
}
.applied:last-child {
  background: #fafafa !important;
}
.profileFeed li .job {
  float: left;
  border-radius: 10% !important;
  height: 30px;
  width: 30px;
  background: #e6e6e6;
  border: 0.5px solid #0000002e;
}

.appliedFor {
  overflow: hidden;
}

.cv-form label {
  font-size: 12px;
}
.tagsClass {
  font-size: 30px;
  font-weight: lighter !important;
  padding: 10px;
}

.tagInputClass {
  color: #61b8dd;
  font-size: 1.3rem;
  font-weight: lighter;
}
.tagInputFieldClass {
  outline: none;
  transition: border-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1.3rem;
  width: 60%;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #ced4da;
  border-radius: 10px;
}
.tagInputFieldClass:focus {
  box-shadow: 0 0 4px 0.2rem rgb(198, 233, 248);
  border-color: rgb(223, 223, 228);
}
.selectedClass span {
  margin-top: 20px;
  transition: 1s 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.tagClass {
  font-weight: lighter !important;
  margin: 15px;
  background-image: linear-gradient(to bottom, #a7cfdf, #c6e9f8);
  color: black;
  border-radius: 39px;
  padding: 15px;
  position: relative;
  transition: 0.4s ease-in-out;
  font-size: medium;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: inline-grid;
}
.removeClass {
  font-weight: lighter !important;
  font-size: 16px;
  color: white !important;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: grey;
  position: absolute;
  top: -10%;
  right: -7%;
  transition-property: background, color;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.53, 0.26, 0.06, 0.6);
  transition-delay: 0.1s;
}
.suggestionsClass {
  padding: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  width: 60%;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  background-color: #ececec;
  cursor: pointer;
}

.suggestionsClass li:hover {
  background: #e3e3e3;
  transition: 0.2s ease-in-out;
}
.suggestionsClass li:focus {
  background-color: blue;
  transition: 0.2s ease-in-out;
}
.form-row h6 {
  font-size: 1.3em;
}
.removeClass:hover {
  background: #e5e5e5;
  color: black !important;
}

.cvul .fill {
  background: linear-gradient(to bottom, #d1f3fb, #c6e9f8);
  color: #2ca5d6;
}
.cvul li {
  background: white;
  color: #2ca5d6;
}
.cvul h5 {
  font-size: 1.9em;
  border-radius: 20px;
  margin: 10px;
  background: #f3f3f3;
  padding: 15px;
  letter-spacing: 1.5px;
}
.cvul h6 {
  font-size: 1.5em;
  border-radius: 20px 0px;
  background: #c5c5c536;
  line-height: 1.5em;
  letter-spacing: 1.5px;
  border: 1px solid #00000021;
}

.cvul h6 span {
  float: left;
  margin-left: 10px;
}
.togglerLi {
  cursor: pointer;
  font-weight: bold;
  color: #008ac3bd;
  background: #fafafa !important;
}
.companyPosts .col-10 {
  overflow: overlay;
  max-height: 100px;
}

.companyPosts span {
  font-size: 0.95em;
}
.companyPosts .job {
  color: rgb(6, 155, 218);
}
.modal-title {
  margin: 0 auto !important;
  line-height: 1.5;
  font-size: 2em !important;
  border-radius: 7px;
  border: 1px solid #00000021;
  background: #f1f1f1;
  padding: 10px 50px;
  color: #2ca5d6;
}
.modal-header .close {
  display: contents;
}
.modal-content .cvul h6 {
  padding-left: 11px;
  text-align: initial;
}
.modal-header {
  border-bottom: unset !important;
  background: linear-gradient(to bottom, #d1f3fb, #c6e9f8);
}
.statusMessage {
  padding: 20px;
  font-size: 1.3em;
}
.statusMessage p {
  padding: 20px;
  background: #f1f1f1;
  border-radius: 5px;
  color: #2ca5d6;
  border: 1px solid #00000021;
}
.statusMessage p span {
  font-weight: bold;
  color: #585858;
}
.Accepted {
  color: #19e819 !important;
}
.Rejected {
  color: red !important;
}
