.Signup-form .btn {
  width: 100%;
  padding: 20px;
}
li span {
  font-weight: 900;
}
li {
  overflow: hidden;
}
.studentSignup {
  background: linear-gradient(to top, #0095ff70 0%, #c6e9f8 100%);
}
form label {
  font-weight: bold;
}
